.DS_Store
Thumbs.db
/.idea/
/bitrix/
/upload/

*.sql
*.tar
*.zip
*.psd

log.*
yandex_*.html
google*.html
sitemap*.xml
/local/vendor/
/test/
!/local/test/
/local/modules/orm_annotations.php
/local/test.php
