.DS_Store
Thumbs.db
/.idea/
/bitrix/
/upload/

*.sql
*.tar
*.zip
*.psd
*.rar

log.*
yandex_*.html
google*.html
sitemap*.xml
/local/vendor/
/vendor/
/test/
/local/test/
/local/modules/orm_annotations.php
/local/test.php
/local/assets/js/bootstrap.min.js
/local/assets/css/bootstrap.min.css
/local/assets/css/bootstrap-grid.min.css
